body {
    background-image: url("trainblur.jpg");
    background-position: center;
}
.jumbotron {
    background-color: rgba(248, 225, 223, 0.822);
    border: 2px solid rgb(1, 54, 63);
    padding-top: 10px;
}
#jumboCol {
    /*border: 1px solid red;*/
    width: 65%;
}
#jumboRow {
    /*border: 1px solid greenyellow;*/
    margin-left: auto;
    margin-right: auto;
}
#jumboHead {
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
}
.table {
    border: 4px solid rgba(6, 49, 49, 0.623);

}
#addTrainForm {
    border: 4px solid rgba(6, 49, 49, 0.623);}
.form-group {
    font-weight: bold;
}